/// Title Font : Catamaran


$font-title : 'Catamaran', sans-serif;

@mixin H1
{
    font-family: $font-title;
    font-size: 44px;
    line-height: 150%;
    font-weight: 700;
}

@mixin H4
{
    font-family: $font-title;
    font-size: 25px;
    line-height: 150%;
    font-weight: 500;
}


/// Texts Font : PT Sans


$font-texts : 'PT Sans', sans-serif;

@mixin body-1
{
    font-family: $font-texts;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}
@mixin overline
{
    font-family: $font-texts;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}